*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
*.backup
*~
*.*~*
*.mtc*
*.codes
*.doc
*.flv
*.ppt
*.docx
*.eps
*.svg
*.css
*.gif
*.js
*.ods
*.htm
*.html
*.bmp
*.png
*.jpg
*.jpeg
*.mp3
*.flac
*.wav
*.ogg
*.mp4
*.avi
*.mpg
*.mpeg
*.mkz
*.kilepr
*.exe
*.dll
*.exe.mdb
*.xml
*.tex.kate-swp
*.maf
*.pyg
*.hi
*.sch
*.ods
*.svn*
*.sc
*.dat
*.out
*.ods
*.dia
*.svg
*.xfc
*.test-cache
